#navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    min-width: 250px;
  }
    
  #main-doc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 280px;
    background-color: white;
  }
  
  
