.navbar {
    position: fixed;
    height: 100%;
    width: 280px;
    z-index: 1;
    margin: 0;
    left: 0;
    top: 0;
    border: 1px solid black;
}

.main-doc{
    position: absolute;
    z-index: 1;
    left: 290px;
}