:root{
    --black: #000;
    --white: #fff;
    --tyrian-purple: #6B0F41ff;
    --dark-slate-gray: #304643ff;
    --dark-cyan: #178984ff;
    --green-pantone: #38B549ff;

}

html{
    scroll-behavior: smooth;
    margin: 0; 
    padding: 0;
}

body{
    min-width: 290px;
    color: var(--dark-slate-gray);
    background-color: var(--white);
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    
}

a{
    text-decoration: none;
    color: inherit;
}

#navbar{
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 2px solid var(--dark-slate-gray);
    

}


#footer{
    position: fixed;
    min-width: 290px;
    top: 90%;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 2px solid var(--dark-slate-gray);
    
}

#main-doc{
    position: absolute;
    margin-left: 315px;
    padding: 20px;
    margin-bottom: 110px;
}

header{
    color: var(--tyrian-purple);
    

}





h2 a{
    display: block;
    padding: 0px 10px;
    text-align: center;
}


.homepage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.main-section h3{
    color: var(--dark-cyan);
}

nav ul{
    height: 88%;
    padding: 0;
    overflow: hidden auto;
}

nav ul li{
    list-style-type: none;
    
    border-top: 2px solid var(--dark-slate-gray);
    width: 100%;
           
}

nav ul li a{
    display: block;
    padding: 5px 20px;
    cursor: pointer;
    
}

nav ul li:hover{
    background-color: var(--dark-cyan);
    color: var(--white)
}

section p a{
    color: var(--dark-cyan);
}